.nav-wrapper{
    position: relative;
    padding-top: -10px;
}
.brand-logo img{
    height: 60px;
    width: 90px;
}

/*index.hbs*/
.home{
    background-image: url("/images/photo-1541414779316-956a5084c0d4.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 580px;
}
.hero{
    padding-top: 120px;
    padding-left: 70px;
}
.hero h1{
    font-family: 'Metal Mania', cursive;
    font-size: 104px;
    text-align: center;
    color: antiquewhite;
}
.sub-hero{
    margin-left: -50px;
}
.sub-hero p{
    font-family: 'Piedra', cursive;
    font-size: 15px;
    text-align: center;
    color: antiquewhite;
}

/*footer*/
.footer {
    background-color: #1b5e20;
    text-align: center;
    text-decoration: none;
}
.footer i{
    margin-top: 5px;
}