{{#partial "title"}}Home-MARA{{/partial}}


{{#partial "content"}}
    <div class="container-full">
        <div class="home">
            <div class="row">
                <div class="col s6">
                    <div class="hero">
                        <h1>MARA</h1>
                        <div class="sub-hero">
                            <p>" Protceting and Saving Animals leads to protecting <br> and saving humanity and earth"</p>
                        </div>
                    </div>
                </div>
                <div class="col s6"></div>
            </div>
        </div>
        </div>
{{/partial}}

{{#partial "footer"}}{{/partial}}
{{> layout.hbs}}
